<!-- section start -->
<!-- ================ -->
<section class="section dark-translucent-bg background-home-img" ng-show="isActive('catalog')">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="owl-demo" class="owl-carousel owl-theme">
 
					<div class="item"><img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/sbc/carousel-1.jpg" alt=""></div>
					<div class="item"><img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/sbc/carousel-2.jpg" alt=""></div>
					<div class="item"><img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/sbc/carousel-3.jpg" alt=""></div>
 
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->